.errorMessage{
  font-size: small;
  color: red;
}


.login,
.image {
  min-height: 100vh;
}

.bg-image {
  background-image: url('1155041.jpg');
  background-size: cover;
  background-position: center center;
}


